<!DOCTYPE html>
<title>Control panel</title>
<% include partial/header %>
<div class="container-fluid">
  <div class="btn-toolbar">
    <a role="button" class="btn btn-primary btn-sm" href="datatable.html" target="_blank">+ New table</a>
    <a role="button" class="btn btn-primary btn-sm" href="graph.html" target="_blank">+ New graph</a>
    <a role="button" class="btn btn-secondary btn-sm" href="report.html" target="_blank">Screener server</a>
    <a role="button" id="refresh-all" class="btn btn-secondary btn-sm" data-target="#refresh-all">Refresh</a>
    <a role="button" id="reset-local" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#confirm-dialog">Reset local datastore</a>
  </div>
  <div class="mt-3">
    <h5>Tables on local storage</h5>
    <table id="local-tables" class="table table-striped table-hover"></table>
  </div>
  <div class="mt-3">
    <h5>Graphs on local storage</h5>
    <table id="local-graphs" class="table table-striped table-hover"></table>
  </div>
  <div class="mt-3">
    <h5>Server calculation job</h5>
    <table id="server-calc" class="table table-striped table-hover"></table>
  </div>
  <div class="mt-3">
    <h5>Server status</h5>
    <table id="server-status" class="table table-striped table-hover"></table>
  </div>
</div>
<div id="dialogs">
<%- include('dialog/confirmDialog'); %>
</div>
<script src="control.js"></script>
