<!DOCTYPE html>
<title>Similarity network</title>
<% include partial/header %>
<script src="https://cdn.rawgit.com/upphiminn/jLouvain/76b19313/jLouvain.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<div class="container-fluid" style="background-color: #fffff9">
  <div class="btn-toolbar" role="toolbar">
    <div id="new-data" class="btn-group">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">+ New graph</button>
      <div class="dropdown-menu">
        <form action="open" method="post" enctype="multipart/form-data" style="display: none">
          <input id="select-file" type="file" name="file" accept=".json,.gz"/>
        </form>
        <a id="import-json" class="dropdown-item">Import JSON graph</a>
      </div>
    </div>
    <div id="data-control" class="btn-group">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Graph control</button>
      <div class="dropdown-menu">
        <a id="snapshot" class="dropdown-item">Save snapshot</a>
        <!--<a id="fit" class="dropdown-item">Fit to screen</a>-->
        <a id="restart" class="dropdown-item">Restart simulation</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#community-dialog">Community detection</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#graphconfig-dialog">Graph settings</a>
        <a id="rename" class="dropdown-item" data-toggle="modal" data-target="#prompt-dialog">Rename graph</a>
        <a id="export" class="dropdown-item">Export snapshot to JSON</a>
      </div>
    </div>
    <a role="button" id="nodetable" class="btn btn-secondary btn-sm" target="_blank">Node datatable</a>
    <a role="button" class="btn btn-secondary btn-sm" href="control.html" target="_blank">Open control panel</a>
    <a role="button" id="refresh" class="btn btn-secondary btn-sm">Refresh</a>
    <a role="button" id="abort" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#confirm-dialog">Abort server job</a>
    <span class="status">
      <span id="title"></span>
      <span id="progress"></span>
    </span>
  </div>
  <div class="row">
    <div class="col-sm-3 px-0">
      <div class="card">
        <div class="card-header">Control</div>
        <div id="main-control" class="card-block">
        <div class="form-group">
          <div class="form-check">Network threshold: <span id="network-thld"></span></div>
          <div class="form-check">Edge density: <span id="edge-density"></span></div>
          <div class="form-check">
            <label class="form-check-label"><input id="show-struct" class="form-check-input" type="checkbox"/>Show structure</label>
          </div>
          <div class="form-check">
            <label class="form-check-label"><input id="stick-nodes" class="form-check-input" type="checkbox"/>Stick nodes</label>
          </div>
          <progress id="temperature" class="progress" value="0" max="1" ></progress>
        </div>
        </div>
      </div>
      <div id="accordion">

        <!-- Node color control -->

        <div class="card">
          <div class="card-header">
            <a href="#collapse-color" data-toggle="collapse" data-parent="#accordion">Node color</a>
          </div>
          <div id="collapse-color" class="collapse">
          <div id="color-control" class="card-block">
            <%- include('partial/colorScaleControl', {item: 'color'}); %>
          </div>
          </div>
        </div>

        <!-- Node size control -->

        <div class="card">
          <div class="card-header">
            <a href="#collapse-size" data-toggle="collapse" data-parent="#accordion">Node size</a>
          </div>
          <div id="collapse-size" class="collapse">
          <div id="size-control" class="card-block">
            <div class="form-group">
              <label for="size-col" class="form-label">Column</label>
              <select id="size-col" class="form-control-sm size-update"></select>
            </div>
            <%- include('partial/sizeScaleControl', {item: 'size'}); %>
          </div>
          </div>
        </div>

        <!-- Node label control -->

        <div class="card">
          <div class="card-header">
            <input id="label-visible" class="form-check-inline" type="checkbox"/>
            <a href="#collapse-label" data-toggle="collapse" data-parent="#accordion">Node label</a>
          </div>
          <div id="collapse-label" class="collapse in">
          <div id="label-control" class="card-block">
            <div class="form-group">
              <label for="label-text" class="form-label">Label text</label>
              <select id="label-text" class="form-control-sm label-update"></select>
            </div>
            <div class="form-group">
              <label for="label-size" class="form-label">Label size</label>
              <input type="number" id="label-size" class="form-control-sm label-update" name="label-size" value="12" min="4" max="100" step="1" />
            </div>
            <%- include('partial/colorScaleControl', {item: 'label'}); %>
          </div>
          </div>
        </div>

        <!-- Edge control -->

        <div class="card">
          <div class="card-header">
            <input id="edge-visible" class="form-check-inline" type="checkbox"/>
            <a href="#collapse-edge" data-toggle="collapse" data-parent="#accordion">Edge</a>
          </div>
          <div id="collapse-edge" class="collapse">
          <div id="edge-control" class="card-block">
            <div class="form-check">
              <label class="form-check-label"><input id="edge-label-visible" class="form-check-input edge-update" type="checkbox"/>Edge weight label</label>
            </div>
            <div class="form-group">
              <label for="edge-label-size" class="form-label">Label size</label>
              <input type="number" id="edge-label-size" class="form-control-sm edge-update" name="edge-label-size" value="10" min="4" max="100" step="1" />
            </div>
            <%- include('partial/sizeScaleControl', {item: 'edge'}); %>
          </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-9 px-0">
      <svg id="graph-field" preserveAspectRatio="xMidYMid meet" pointer-events="all">
        <g id="graph-contents"></g>
      </svg>
    </div>
  </div>
</div>
<div id="dialogs">
  <%- include('dialog/dialogBase', {id: 'graphconfig', title: 'Graph config'}); %>
  <%- include('dialog/dialogBase', {id: 'community', title: 'Community detection'}); %>
  <%- include('dialog/dialogBase', {id: 'prompt', title: ''}); %>
  <%- include('dialog/confirmDialog'); %>
</div>
<script src="graph.js"></script>
